@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --Darkcyan: hsl(185, 75%, 39%);
    --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --DarkGrayishblue: hsl(227, 10%, 46%);
    --DarkGray: hsl(0, 0%, 59%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--Darkcyan);
    background-image: url(images/bg-pattern-top.svg),
        url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 51vw bottom 20vh, left 45vw top 50vh;
    font-size: 18px;
}
.card-container {
    margin: 170px auto 50px;
    height: 380px;
    width: 330px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: white;
}

.bubbles {
    background-image: url(images/bg-pattern-card.svg);
    height: 140px;
}

.image {
    position: absolute;
    top: 87px;
    left: 35%;
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
}

.info-container {
    height: 150px;
    padding: 75px;
    text-align: center;
}
.name {
    font-weight: 700;
    color: var(--VeryDarkDesaturatedBlue);
}
.age,
.city {
    color: var(--DarkGray);
}
.city {
    margin-top: 10px;
    font-size: 0.8em;
}

.stats-container {
    border-top: 1px solid var(--DarkGray);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
}

.stat {
    text-align: center;
}

.amount {
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--VeryDarkDesaturatedBlue);
}
.units {
    font-size: 0.6em;
    color: var(--DarkGray);
    letter-spacing: 2px;
}
/*footer*/
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1440px) {
    .card-container {
        width: 350px;
    }
}
